<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        (click)="presentAlert()"
        slot="icon-only"
        name="trash-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>Details of this course : </strong>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-img [src]="selectedCourse.image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9" offset="1">
        <h3>{{ selectedCourse.title }} By {{ selectedCourse.author }}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <strong>Content of this course : </strong>
  <ion-list>
    <ion-item *ngFor="let keyword of selectedCourse.keywords">
      <ion-label>{{keyword}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
