<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Our Catalog </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        routerLink="/add"
        slot="icon-only"
        name="add-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>We propose these new courses : </strong>

  <ion-list>
    <ion-item
      [routerLink]="['/details', course.id]"
      *ngFor="let course of allCourses"
    >
      <ion-avatar>
        <img [src]="course.image" />
      </ion-avatar>
      <ion-label> {{ course.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
